* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/*------ Themes light/dark modes ------ */

.light-mode {
    --brand-color: #0984E3;
    --navcolor: #E2E7ED;
    --background-color: #FFFFFF;
    --header-color: #FFFFFF;
    --rectangle-color: #E2E7ED;
    --font-family: "Lato";
    --font-color: #3f3b3b;
    --font-tabs-color: #728188;
    --header-border-color: #E2E7ED;
}

.dark-mode {
    --brand-color: #0984E3;
    --navcolor: #E2E7ED;
    --background-color: #616161;
    --header-color: #3f3b3b;
    --rectangle-color: #E2E7ED;
    --font-family: "Lato";
    --font-color: #E2E7ED;
    --font-tabs-color: #d1d7da;
    --header-border-color: #3f3b3b;
}

body {
    background-color: var(--background-color);
}


/* ------ Header ------ */

header {
    background-color: var(--header-color);
    border: 1px solid var(--header-border-color);
}

.header--container {
    /* border: 5px solid #e1bee7; */
    background-color: var(--header-color);
    display: grid;
    /* grid-template-columns: 200px 300px 100px 50px; */
    grid-template-columns: 1fr 3fr 1fr 0.5fr;
    grid-template-rows: 80px;
    grid-template-areas: "logo blank activity switch";
    max-width: 750px;
    place-content: center;
    place-items: center;
    max-width: 900px;
    min-width: 300px;
    margin: 0px auto;
    padding: 10px;
    gap: 5px;
}

picture img {
    min-width: 100px;
    width: 100%;
}

.header-left {
    grid-area: logo;
}

.header-right {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--font-color);
    grid-area: activity;
}


/* ------ Switch ------ */

.header-switch {
    width: 60px;
    height: 34px;
    grid-area: switch;
}

.header-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.header-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* ------ The slider ------ */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--brand-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--brand-color);
    background-image: url(./assets/light-mode-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #3f3b3b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #c0c0c0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url(./assets/dark-mode-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}


/* Rounded slider */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    border-color: #d1d7da;
}


/*------ Tabs ------ */

nav {
    display: flex;
}

.nav--tabs ul {
    list-style: none;
    padding: 0px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    gap: 40px;
    /* border: 5px solid #e1bee7; */
    background-color: var(--background-color);
}

.nav--tabs {
    display: grid;
    max-width: 900px;
    min-width: 300px;
    margin: 0px auto;
}

.nav--tabs ul li a {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--font-tabs-color);
    font-size: 1.6rem;
    font-weight: 700;
    font-style: bold;
    padding: 8px;
}

.nav--tabs ul li a:hover {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--brand-color);
    font-size: 1.6rem;
    font-weight: 700;
    font-style: bold;
    padding: 8px;
}

.nav--tabs ul li {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "image text-tab";
    place-content: center;
}

.nav--tabs ul li a {
    grid-area: text-tab;
    place-self: center;
}

.icon--course img {
    width: 30px;
    grid-area: image;
}


/*------ Sections ------ */

.sections {
    display: grid;
    max-width: 900px;
    min-width: 300px;
    margin: 50px auto;
}

main p {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--font-color);
}