/* General styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
}


/*------ Themes light/dark modes classes------ */

.light-mode {
    --brand-color: #0984E3;
    --navcolor: #E2E7ED;
    --background-color: #FFFFFF;
    --header-color: #FFFFFF;
    --rectangle-color: #E2E7ED;
    --font-family: "Lato";
    --font-color: #3f3b3b;
    --font-tabs-color: #728188;
    --header-border-color: #E2E7ED;
}

.dark-mode {
    --brand-color: #0984E3;
    --navcolor: #E2E7ED;
    --background-color: #616161;
    --header-color: #3f3b3b;
    --rectangle-color: #E2E7ED;
    --font-family: "Lato";
    --font-color: #E2E7ED;
    --font-tabs-color: #d1d7da;
    --header-border-color: #3f3b3b;
}


/* ------ Header ------ */

header {
    background-color: var(--header-color);
    border: 1px solid var(--header-border-color);
    width: 100%;
}

.header--container {
    /* border: 5px solid #e1bee7; */
    background-color: var(--header-color);
    display: grid;
    /* grid-template-columns: 200px 300px 100px 50px; */
    grid-template-columns: 1fr 3fr 1fr 0.5fr;
    grid-template-rows: 80px;
    grid-template-areas: "logo blank activity switch";
    place-content: center;
    place-items: center;
    max-width: 900px;
    min-width: 300px;
    margin: 0px auto;
    padding: 10px;
    gap: 5px;
    /* overflow: hidden; */
}

.header-left picture img {
    min-width: 100px;
    width: 100%;
}

.header-left {
    grid-area: logo;
}

.header-right {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--font-color);
    grid-area: activity;
}


/* ------ Switch ------ */

.header-switch {
    width: 60px;
    height: 30px;
    position: relative;
    display: inline-block;
    grid-area: switch;
}

.header-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* ------ The slider ------ */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--brand-color);
    -webkit-transition: .3s;
    transition: .3s;
    /* box-shadow: 0 0 1px var(--font-color); */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: var(--brand-color);
    background-image: url(./assets/light-mode-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--header-color);
    box-shadow: 0 0 1px var(--font-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--font-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url(./assets/dark-mode-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}


/* Rounded slider */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 100%;
}


/*------ Tabs ------ */

.nav--tabs ul {
    list-style: none;
    padding: 15px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    gap: 60px;
    /* border: 5px solid #e1bee7; */
    background-color: var(--background-color);
}

.nav--tabs {
    display: grid;
    max-width: 900px;
    min-width: 300px;
    margin: 0px auto;
}

.nav--tabs ul li a {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--font-tabs-color);
    font-size: 1.6rem;
    font-weight: 700;
    font-style: bold;
    padding: 8px;
}


/* Tab icons position */

.nav--tabs ul li a {
    display: grid;
    grid-template-rows: min-content;
    grid-template-areas: "image text-tab";
    place-content: center;
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--font-tabs-color);
    font-size: 1.6rem;
    font-weight: 700;
    font-style: bold;
    padding: 8px;
    gap: 10px;
}

.nav--tabs ul li a:hover {
    display: grid;
    grid-template-rows: min-content;
    grid-template-areas: "image text-tab";
    place-content: center;
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--brand-color);
    font-size: 1.6rem;
    font-weight: 700;
    font-style: bold;
    padding: 8px;
    gap: 10px;
}

.nav--tabs ul li a span {
    grid-area: text-tab;
    place-self: center;
}

.icon i {
    grid-area: image;
}


/* Icon colors */

.icon:hover>i {
    background-color: var(--brand-color);
    display: inline-block;
}

.icon--course {
    width: 22px;
    height: 28px;
    display: inline-block;
    -webkit-mask: url(./assets/course-tab-icon.svg) no-repeat 50% 50%;
    mask: url(./assets/course-tab-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon--materials {
    width: 22px;
    height: 28px;
    display: inline-block;
    -webkit-mask: url(./assets/materials-tab-icon.svg) no-repeat 50% 50%;
    mask: url(./assets/materials-tab-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon--activity {
    width: 22px;
    height: 28px;
    display: inline-block;
    -webkit-mask: url(./assets/activity-tab-icon.svg) no-repeat 50% 50%;
    mask: url(./assets/activity-tab-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.icon-color {
    background-color: var(--font-tabs-color);
}


/*------ Sections ------ */

.sections {
    display: grid;
    max-width: 900px;
    min-width: 300px;
    margin: 50px auto;
}

nav .indicator-rail {
    width: 100%;
    height: 6px;
    max-width: 900px;
    min-width: 300px;
    background-color: #E2E7ED;
    position: relative;
    bottom: 0;
    float: left;
    overflow: hidden;
}

.indicator {
    width: 0px;
    height: 6px;
    background-color: #0984E3;
    position: relative;
    bottom: 0;
    display: block;
    z-index: 100;
    transition: .3s ease-out all;
    /* transform: translate(100px); */
}

main p.parr {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--font-color);
    padding: 15px;
}


/* ------ Sections-content ------ */

[data-content] {
    display: none;
}

.active[data-content] {
    display: grid;
}


/* ------ Section-activity ------ */

.sections .pages {
    display: none;
}

.pageActive {
    display: grid;
}

.next--button {
    width: 109px;
    height: 34px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: 6px;
    margin: 5px;
    place-items: center;
    place-content: center;
}

.previous--button {
    width: 109px;
    height: 34px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: 6px;
    margin: 5px;
    place-items: center;
    place-content: center;
}

.next--button a {
    display: grid;
    /* grid-template-rows: min-content; */
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text-buttonNext arrowNext";
    /* place-content: center;
    place-self: center;
    place-items: center; */
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.previous--button a {
    display: grid;
    /* grid-template-rows: min-content; */
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "arrow text-button";
    place-content: center;
    place-self: center;
    place-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.next--button .icon a span {
    grid-area: text-buttonNext;
    place-self: center;
}

.previous--button .icon a span {
    grid-area: text-button;
    place-self: center;
}

i.next--button-icon {
    grid-area: arrowNext;
    place-self: center;
}

i.previous--button-icon {
    grid-area: arrow;
    place-self: center;
}

.next--button-icon {
    width: 10px;
    height: 6px;
    display: inline-block;
    -webkit-mask: url(./assets/next-button-arrow.svg) no-repeat 50% 50%;
    mask: url(./assets/next-button-arrow.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.previous--button-icon {
    width: 10px;
    height: 6px;
    display: inline-block;
    -webkit-mask: url(./assets/previous-arrow.svg) no-repeat 50% 50%;
    mask: url(./assets/previous-arrow.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.next--button .icon i.icon-color,
.previous--button .icon i.icon-color {
    background-color: white;
}


/* .next--button {
    width: 109px;
    height: 34px;
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: 6px;
    margin-top: 20px;
    margin: 5px;
}

.next--button a {
    text-decoration: none;
    color: white;
} */

h4 {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 20px;
    color: var(--font-color);
}


/* ------ Main--activities ------ */


/* Configuration 1 and 3 */

.main--activity ul.activities-test3,
.main--activity ul.activities-test1 {
    display: grid;
    width: 100%;
    /* max-width: 900px;
    min-width: 300px; */
    text-decoration: none;
    list-style: none;
    grid-template-columns: max-content 2fr max-content max-content 2fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: min-content;
    /* grid-template-areas: "icon1 pict-name description icon-topic space time"; */
    grid-template-areas: "icon1 pict-name description icon-topic space verify download like rollback time";
    margin: 0px auto;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: 400;
    /* line-height: 1.6px; */
    font-style: bold;
    padding: 2px;
    gap: 10px;
    border: 1px solid var(--navcolor);
    border-radius: 6px;
}


/* General configuration */

.main--activity ul.activities-test2,
.main--activity ul.activities-test {
    display: grid;
    width: 100%;
    /* max-width: 900px;
    min-width: 300px; */
    text-decoration: none;
    list-style: none;
    grid-template-columns: max-content 2fr max-content max-content 4fr 3fr;
    grid-template-rows: min-content;
    grid-template-areas: "icon1 pict-name description icon-topic space time";
    /* grid-template-areas: "icon1 pict-name description icon-topic space  verify download like rollback time"; */
    margin: 0px auto;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: 400;
    /* line-height: 1.6px; */
    font-style: bold;
    padding: 2px;
    gap: 10px;
    border: 1px solid var(--navcolor);
    border-radius: 6px;
}

.main--activity ul.activities-test3 li,
.main--activity ul.activities-test1 li,
.main--activity ul.activities-test2 li,
.main--activity .activities-test li {
    /* margin: 0 10px; */
    width: 100%;
    height: 54px;
    background-color: var(--background-color);
    /* border: 1px solid #e1bee7; */
    text-decoration: none;
}


/* First activity */

.activities-test3 li,
.activities-test1 li,
.activities-test2 li,
.activities-test li {
    place-content: center;
    place-items: center;
}

.activities-test3 li.icon1,
.activities-test1 li.icon1,
.activities-test2 li.icon1,
.activities-test li.icon1 {
    grid-area: icon1;
    padding-left: 21px;
    margin-right: 10px;
}

.icon1 {
    display: grid;
}

.icon--activity-task {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(./assets/complete-icon.svg);
}

.activities-test3 li .name,
.activities-test1 li .name,
.activities-test2 li .name,
.activities-test li .name {
    grid-area: pict-name;
}

.activities-test1 li.main--activity-description,
.activities-test2 li.main--activity-description,
.activities-test li.main--activity-description {
    grid-area: description;
    justify-content: left;
}

.main--activity-description {
    display: grid;
}

.activities-test1 .icon--activity-topic,
.icon--activity-topic {
    width: 12px;
    height: 16px;
    display: inline-block;
    -webkit-mask: url(./assets/achievement-icon.svg) no-repeat 50% 50%;
    mask: url(./assets/achievement-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.activities-test3 .icon--activity-topic,
.activities-test2 .icon--activity-topic {
    width: 12px;
    height: 16px;
    display: inline-block;
    -webkit-mask: url(./assets/course-tab-icon.svg) no-repeat 50% 50%;
    mask: url(./assets/course-tab-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.topic a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.activities-test3 li.topic,
.activities-test1 li.topic,
.activities-test2 li.topic,
.activities-test li.topic {
    grid-area: icon-topic;
    justify-content: left;
}

.topic {
    display: grid;
}

.activities-test3 li.verify {
    grid-area: verify;
}

.activities-test3 li.download {
    grid-area: download;
}

.activities-test3 li.like,
.activities-test1 li.like {
    grid-area: like;
}

.activities-test3 li.rollback,
.activities-test1 li.rollback {
    grid-area: rollback;
}

.activities-test3 li.right-time,
.activities-test1 li.right-time,
.activities-test2 li.right-time,
.activities-test li.right-time {
    grid-area: time;
    /* padding: 5px; */
    /* grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content; */
}

.right-time {
    display: grid;
}

.name {
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-template-rows: min-content;
    grid-template-areas: "imagename name";
    gap: 5px;
}

.name-img img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    grid-area: imagename;
}

picture.name-img {
    place-self: center;
}

.name span {
    grid-area: name;
    place-self: center;
}

.activities-test3 .right-time,
.activities-test2 .right-time,
.activities-test1 .right-time,
.activities-test .right-time {
    display: grid;
    grid-template-columns: max-content 3fr;
    grid-template-rows: min-content;
}

.right-time p {
    padding: 0px;
}

.icon--activity-date {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0984E3;
}


/* ------ MediaQueries ------ */


/* min display*/


/* From 320 - 375 */

@media screen and (max-width: 475px) {
    .nav--tabs ul {
        list-style: none;
        padding: 15px;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        align-items: center;
        gap: 25px;
        /* border: 5px solid #e1bee7; */
        background-color: var(--background-color);
    }
    .nav--tabs ul li a {
        display: grid;
        grid-template-rows: min-content;
        grid-template-areas: "image text-tab";
        place-content: center;
        text-decoration: none;
        font-family: var(--font-family);
        color: var(--font-tabs-color);
        font-size: 0.9rem;
        font-weight: 700;
        font-style: bold;
        padding: 8px;
        gap: 10px;
    }
    .nav--tabs ul li a:hover {
        display: grid;
        grid-template-rows: min-content;
        grid-template-areas: "image text-tab";
        place-content: center;
        text-decoration: none;
        font-family: var(--font-family);
        color: var(--brand-color);
        font-size: 0.9rem;
        font-weight: 700;
        font-style: bold;
        padding: 8px;
        gap: 10px;
    }
    /* Activities */
    /* Configuration 1 and 3 */
    .main--activity ul.activities-test3,
    .main--activity ul.activities-test1 {
        display: grid;
        width: 100%;
        /* max-width: 900px;
    min-width: 300px; */
        text-decoration: none;
        list-style: none;
        grid-template-columns: 1fr 2fr 3fr 3fr 2fr 1fr 1fr 1fr 1fr 3fr;
        grid-template-rows: min-content;
        /* grid-template-areas: "icon1 pict-name description icon-topic space time"; */
        grid-template-areas: "icon1 pict-name description icon-topic space verify download like rollback time";
        margin: 0px auto;
        font-family: var(--font-family);
        color: var(--font-color);
        font-size: 0.9rem;
        font-weight: 400;
        /* line-height: 1.6px; */
        font-style: bold;
        padding: 2px;
        gap: 1px;
        border: 1px solid var(--navcolor);
        border-radius: 6px;
    }
    .main--activity ul.activities-test2,
    .main--activity ul.activities-test {
        display: grid;
        width: 100%;
        text-decoration: none;
        list-style: none;
        grid-template-columns: 1fr 2fr 3fr 3fr 4fr 2fr;
        grid-template-rows: min-content;
        grid-template-areas: "icon1 pict-name description icon-topic space time";
        /* grid-template-areas: "icon1 pict-name description icon-topic space  verify download like rollback time"; */
        place-content: center;
        place-items: center;
        margin: 0px auto;
        font-family: var(--font-family);
        color: var(--font-color);
        font-size: 0.9rem;
        font-weight: 400;
        /* line-height: 1.6px; */
        font-style: bold;
        padding: 1px;
        gap: 0px;
        border: 1px solid var(--navcolor);
        border-radius: 6px;
    }
}